{{#partial "content"}}
    <body>
    <div class="h-image">
    <img src="/images/hero.jpeg">
    <br>
    <br>
<!--    <div class="container" style="background-color: antiquewhite;">-->
<!--        <div>-->
<!--            <h1><a class="btn" href="/heroform">Create hero</a></h1>-->
<!--        </div>-->
        {{#each hero}}
        <div class="h-text">
            <p>Name: {{ name }} </p>
            <p>Age: {{ age }}</p>
            <p>Special power: {{ power }}</p>
            <p>Weakness: {{ weaknesses }}</p>
        {{/each}}
    </div>
    </div>
<!--    </div>-->
    </body>
{{/partial}}
{{>layout.hbs}}